<div class="hero-unit">
    <h1>About Handlino Inc.</h1>
    <p><a href="http://handlino.com/">Handlino</a> was founded in December 2006. Our expertise are application development and standards-compliant web design. We have been engaged in open source communities, our tools of trade include CSS, JavaScript, Ruby on Rails, and Perl.</p>


    <p>We provide the following software and services:</p>

    <ul>
        <li><a href="http://compass.handlino.com/">Compass.app</a></li>
        <li>Standards-compliant web design</li>
        <li>Front-end engineering / Everything about web UI.</li>
        <li>Agile web application development using Ruby, Rails or Perl</li>
        <li>Training and consultancy services</li>
        <li><a href="http://radiantcms.org/">Radiant CMS</a> installation, design and customization</li>
        <li><a href="http://spreecommerce.com/">Spree</a> installation, design and customization</li>
        <li>Web design for mobile devices like iPhone/iPad</li>
    </ul>
    <p><a class="btn btn-primary btn-large" href="http://handlino.com/contact">Contact Us</a></p>
</div>
