<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Project name</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/dashboard/index.html">Dashboard</a></li>
                    <li><a href="/secret/index.html">Secret</a></li>
                    <li><a href="/secret/use_special_layout.html">Secret 2</a></li>
                    <li><a href="/lorem.html">Lorem Helpers</a></li>
                    <li><a href="/about.html">About</a></li>
                </ul>
                <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
