!!! 5
%head
  %title Haml Layout Example
  = stylesheet_link_tag 'bootstrap'
  :css
    body { padding-top: 60px; padding-bottom: 40px; }
    .sidebar-nav { padding: 9px 0; }
  = stylesheet_link_tag 'bootstrap-responsive'
%body
  =render :partial => "/header.html.erb"
  .container-fluid
    =yield
